.mount-sign {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.owl-prev i, .owl-next i {
    color: black;
}
.owl-prev, .owl-next {
    position: absolute;
    top: 45%;
    margin-top: -10px;
}
.owl-prev {
    left: -40px;
}
.owl-next {
    right: -40px;
}
span, p, h1, h2, h3, h4, h5 {
    color: #66676A!important;
}
.btn-verona {
    border: 1.5px solid #3b1600;
    letter-spacing: 0.5px;
    color:#3b1600!important;
}
.btn-verona:hover {
    background-color: #f9f9f2;
    border: 1.5px solid #3b1600;
}
p.indent {
    text-indent: 3.5em;
}

.w-65 {
    width: 65%!important;
}

.text-verona {
    color: #3b1600!important;
}
.text-verona.active {
    font-weight: bold;
    border-radius: 0px;
}
.text-verona.active:focus, .btn:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0)!important;
}
.hr-new{
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.focused.active {
    background-color: #f8f9fa
}
hr {
    border: none; /* Убираем границу */
    background-image: url(/images/stripes.png);
    background-size: 120px 120px; /* Цвет линии */
    height: 6px; /* Толщина линии */
}

forum {
	font-family: 'Forum', cursive;
}
.w-40{
    width: 40%!important;
}
.w-85 {
    width: 85%!important;
}
.bg-sand {
    background-color: #3b1600!important;
}
.bg-footer{
    background-color: #3b1600!important;
}
.txt-menu{
    font-family: Helvetica;
    font-weight: lighter;
    color:white!important;
}
.txt-white{
    color:white!important;
}
.text-main{
    font-size: 30px;
}

@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption');
.top-menu {
    margin: 0 60px;
    position: relative;
    background: #f2e3c3;
    box-shadow:
            inset 1px 0 0 rgba(255,255,255,.1),
            inset -1px 0 0 rgba(255,255,255,.1),
            inset 150px 0 150px -150px rgba(255,255,255,.12),
            inset -150px 0 150px -150px rgba(255,255,255,.12);
}
.top-menu:before,
.top-menu:after {
    content: "";
    position: absolute;
    z-index: 2;
    left: 0;
    width: 100%;
    height: 3px;
}
.top-menu:before {
    top: 0;
    border-bottom: 1px dashed rgba(255,255,255,.2);
}
.top-menu:after {
    bottom: 0;
    border-top: 1px dashed rgba(255,255,255,.2);
}
.menu-main {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
.menu-main:before,
.menu-main:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 0;
    top: 8px;
    border-top: 18px solid #f2e3c3;
    border-bottom: 18px solid #f2e3c3;
    transform: rotate(360deg);
    z-index: -1;
}
.menu-main:before {
    left: -30px;
    border-left: 12px solid rgba(255, 255, 255, 0);
}
.menu-main:after {
    right: -30px;
    border-right: 12px solid rgba(255, 255, 255, 0);
}
.menu-main li {
    display: inline-block;
    margin-right: -4px;
    margin-bottom: 3px;
}
.menu-main a {
    text-decoration: none;
    display: inline-block;
    padding: 15px 20px;
    font-family: 'PT Sans Caption', sans-serif;
    color: #3b1600;
    transition: .3s linear;
}
.menu-main a.current,
.menu-main a:hover {background: rgba(0,0,0,.2);}
@media (max-width: 680px) {
    .top-menu {margin: 0;}
    .menu-main li {
        display: block;
        margin-right: 0;
    }
    .menu-main a {
        border:1px solid black;
        text-decoration: none;
        display: inline-block;
        padding: 15px 30px;
        font-family: 'PT Sans Caption', sans-serif;
        color: #3b1600;
        transition: .3s linear;
    }
    .menu-main:before,
    .menu-main:after {content: none;}
    .menu-main a {display: block;}

    .main-verona{
        height:200px;

    }
    .main-slider{
    }
}
.line {
    overflow: hidden;
    position: relative;
    margin: 0;
    text-align: center;
    white-space: nowrap;
}
.line:before,
.line:after {
    content: '';
    display: inline-block;
    position: relative;
    top: -1px;
    width: 50%;
    height: 1px;
    vertical-align: middle;
    background: #aaaaaa!important;
}
.line:before {
    left: -10px;
    margin-left: -50%;
}
.line:after {
    left: 10px;
    margin-right: -50%;
}
h1 {
    overflow: hidden;
    position: relative;
    margin: 0;
    text-align: center;
    white-space: nowrap;
}
h1:before,
h1:after {
    content: '';
    display: inline-block;
    position: relative;
    top: -1px;
    width: 50%;
    height: 1px;
    vertical-align: middle;
    background: #aaaaaa!important;
}
h1:before {
    left: -10px;
    margin-left: -50%;
}
h1:after {
    left: 10px;
    margin-right: -50%;
}
body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
